<table class="table table-striped table-bordered" id="carrier_table_inner">
  <thead>
  <tr>
  </tr>
  </thead>
  <tbody>

  <% unless @customers.blank? %>
      <% @customers.each_with_index do |customer, index| %>
          <tr class="odd gradeX">
            <td><input type="checkbox" class="checkboxes chk" value="<%= customer.id %>"/>
            </td>
            <td><%= customer.first_name %></td>
            <td class="hidden-phone">
              $<%#= number_with_precision(carrier.present_balance, :precision => 2) unless carrier.blank? %>
            </td>
            <td class="hidden-phone">
              <% if customer.status == 'active' %>
                  <div class="label label-success">
                    Enabled
                  </div>
              <% else %>
                  <div class="label label-important">
                    Disabled
                  </div>
              <% end %>
            </td>

            <td class="center hidden-phone"><%= customer.updated_at.strftime("%m/%d/%Y") unless customer.created_at.blank? %></td>
            <td class="hidden-phone">
              <!--<div style="text-align: center;">-->

              <!--<button class="btn btn-info btn-mini" type="button" onclick="modify_carrier('<%= customer.id %>')">Modify-->
              <!--</button>-->
              <!--</div>-->
              <a class="btn btn-default btn-xs purple" href="#"><i class="fa fa-edit"></i> Edit</a>
              <a class="btn btn-default btn-xs purple" href="#"><i class="fa fa-edit"></i> View</a>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>






<script type="text/javascript">
    $('#carrier_table_inner').dataTable({
        "bPaginate": true,
        "bSort": true,
        "asDataSearch": false,
        "bAutoWidth": false,
        "aoColumns": [
            { "sTitle": "", "sWidth": "2%" },
            { "sTitle": "Name", "sWidth": "15%" },
            { "sTitle": "Email", "sWidth": "10%" },
            { "sTitle": "Status", "sWidth": "10%" },
            { "sTitle": "Joined", "sWidth": "10%" },
            { "sTitle": "Action", "sClass": "center", "sWidth": "10%" }
        ],
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ 0 ] }
        ]

    });

    //    $(document).ready(function () {
    //        Checks.init();
    //    })
</script>