<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">
      Super Admin/Dashboard
    </h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span12" id="carrier_table_main">
    <!-- BEGIN EXAMPLE TABLE widget-->
    <div class="widget">
      <div class="widget-title">
        <h4><i class="icon-reorder"></i>Display Carriers</h4>
        <span class="tools"><a class="icon-chevron-down" href="javascript:"></a></span>
      </div>
      <div class="widget-body">
        <div id="carriers_show">
          <%= render :partial => '/super_admin/customers/list' %>
        </div>
      </div>
    </div>
  </div>
  <div class="action_btn_carrier" style="float: left;">
    <button class="btn btn-info btn-primary" type="button" onclick="delete_carrier()">Delete Carrier</button>
    <button class="btn btn-info btn-primary" type="button" onclick="disable_carrier()">Disable Carrier</button>
    <button class="btn btn-info btn-primary" type="button" onclick="enable_carrier()">Enable Carrier</button>
    <button class="btn btn-info btn-primary" type="button" onclick="export_carrier()">Export Carrier</button>
  </div>

</div>

<!-- END PAGE CONTENT-->
<script type=text/javascript>


    function delete_carrier() {
        var array_of_checked_values = [];
        $(".checkboxes").each(function () {
            if ($(this).is(':checked')) {
                array_of_checked_values.push(this.value)
            }
        });
        if (array_of_checked_values.length < 1) {
            apprise("Select carrier from the list");
            return;
        }
        apprise("Are you sure you want to delete this carrier?", {'confirm':true}, function (r) {
            if (r) {
                $('.shadow').show();
                $('.ajax_loader').show();
                var container = $("#carriers_show");
                $.ajax({
                    url:'/mycarriers/delete_carrier?ids=' + array_of_checked_values,
                    type:'get',
                    dataType:'json',
                    processData:false,
                    success:function (data) {
                        container.html(data.html);
                        $('.shadow').hide();
                        $('.ajax_loader').hide();
                        hudMsg('success', 'Carrier Deleted.');
                    },
                    error:function (data) {
                        window.location.reload();
                    }
                });
            }
        });
    }

    function disable_carrier() {
        var array_of_checked_values = [];
        $(".checkboxes").each(function () {
            if ($(this).is(':checked')) {
                array_of_checked_values.push(this.value)
            }
        });
        if (array_of_checked_values.length < 1) {
            apprise("Select carrier from the list");
            return;
        }
        apprise("Are you sure you want to disable this carrier?", {'confirm':true}, function (r) {
            if (r) {
                $('.shadow').show();
                $('.ajax_loader').show();
                var container = $("#carriers_show");
                var id;
                id = $('#carrier_id').val();
                $.ajax({
                    url:'/mycarriers/disable_carrier?ids=' + array_of_checked_values,
                    type:'get',
                    dataType:'json',
                    processData:false,
                    success:function (data) {
                        container.html(data.html);
                        $('.shadow').hide();
                        $('.ajax_loader').hide();
                        hudMsg('success', 'Carrier Disabled.');
                    },
                    error:function (data) {
                        window.location.reload();
                    }
                });
            }
        });
    }

    function modify_carrier(id) {
        window.location.replace("/mycarriers/" + id + "/edit")
    }

    function enable_carrier() {
        var array_of_checked_values = [];
        $(".checkboxes").each(function () {
            if ($(this).is(':checked')) {
                array_of_checked_values.push(this.value)
            }
        });
        if (array_of_checked_values.length < 1) {
            apprise("Select carrier from the list");
            return;
        }
        apprise("Are you sure you want to enable this carrier?", {'confirm':true}, function (r) {
            if (r) {
                $('.shadow').show();
                $('.ajax_loader').show();
                var container = $("#carriers_show");
                var id;
                id = $('#carrier_id').val();
                $.ajax({
                    url:'/mycarriers/enable_carrier?ids=' + array_of_checked_values,
                    type:'get',
                    dataType:'json',
                    processData:false,
                    success:function (data) {
                        container.html(data.html);
//                        if (test = $("input[type=checkbox]:not(.toggle), input[type=radio]:not(.toggle)")) {
//                            test.uniform();
//                        }
                        $('.shadow').hide();
                        $('.ajax_loader').hide();
                        hudMsg('success', 'Carrier Enabled.');

                    },
                    error:function (data) {
                        window.location.reload();
                    }
                });
            }
        });
    }

    function export_carrier() {
        document.location.href = '/mycarriers/export_carrier';
    }

</script>

